.header {
  background: #673AB7;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 36px;
  overflow: hidden;
  padding: 0;
  transition: flex-basis 0.3s;
}

.header h1 {
  flex: none;
  margin: 0;
  padding: 0 15px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  color: #FFF;
}

.header label {
  align-items: center;
  border: 2px solid #f2b9ff;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex: none;
  font-size: 20px;
  margin: 0 4px;
  padding: 0 10px;
  justify-content: center;
  user-select: none;
}

.header label:hover {
  background-color: #c68fff;
}

.header title {
  display: inline;
  flex: 1;
  margin: 0;
  padding: 0 15px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  color: #FFF;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header nav {
  flex: none;
  font-size: 100%;
  font-weight: bold;
  display: inline-flex;
  justify-content: flex-end;
}

.header nav a {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 15px;
  min-width: 50px;
  text-align: center;
  background: rgba(255,255,255,0);
  text-decoration: none;
  color: #FFF;
  user-select: none;
  will-change: background-color;
}

.header nav a:hover,
.header nav a:active {
  background: rgba(0,0,0,0.2);
}

.header nav a.active {
  background: rgba(0,0,0,0.4);
}
